body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  align-items: center;
  justify-content: center;
}
.AppS {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gradient {
  text-transform: uppercase;
  background: linear-gradient(#e66465, #9198e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.overflow {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.abs {
  z-index: 0;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  position: absolute;
}
